.sidebar {
    position: fixed;
    font-size: 13.3px;
    left:0;
    bottom:0;
   top:58px;
    width: 2cm;
background-color: white;
justify-content: space-between;

}

.sidebarlink{
    padding: 20px;
    margin-top: 5px;
    flex-direction: column;
    cursor: pointer;
    display: flex;
align-items: center;
justify-content: center;
background-color:white;
}
.sidebarlink:hover{
    background-color: lightgray;
}
.sidebar>div{
    font-size: 10px;
    font-family: roboto,arial;
    
}
.sidebarlink>img{
    width:20px;
    
}